.meetupContainer {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 40px;
}

.meetupContainer *,
.meetupContainer *:before,
.meetupContainer *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

