header {
    color: #fff;
    text-align: center;
  }

  .title {
    font-size: 50px;
  }

  .prompt {
    color: #707070;
    font-size: 20px;
  }

  .date {
    top: 10px;
    font-size: 25px;
    position: relative;
    color: #707070;
  }

  .date span {
    color: #fff;
  }

  .date::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    left: -40px;
    background: url("../../../assets/img/calendar.svg");
    background-size: contain;
  }
