.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.301);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
