
.citySelector {
    width: 100%;
    cursor: pointer;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    padding: 10px 0;
    margin-top: 20px;
}

.option {
    cursor: pointer;
    margin-top: 10px;
}

.selectedCity {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.selectedCity img {
    width: 25px;
    margin-right: 10px;
}

.selectedCity::after {
    position: absolute;
    content: '';
    right: 0;
    transition: .3s;
    width: 10px;
    height: 10px;
    background: url('../../../../assets/img/select_arrow.svg') no-repeat;
    background-size: contain;
}

.selectedCity::before {
    position: absolute;
    content: '';
    right: 0;
    transition: .3s;
    width: 10px;
    height: 10px;
    background: url('../../../../assets/img/select_arrow.svg') no-repeat;
    background-size: contain;
}

.selectionClosed::after {
    transform: rotate(0deg);
    top: 4px;
}

.selectionClosed::before {
    transform: rotate(180deg);
    top: 9px;
}

.selectionOpened::after {
    transform: rotate(180deg);
    top: 0px;
}


.selectionOpened::before {
    transform: rotate(0deg);
    top: 9px
}

.option {
    padding-left: 35px;
    transition: .3s;
}

.option:hover {
    transform: scale(1.1);
    color: #00FCB6;
}