.infoContainer {
    display: flex;
    width: calc(100vw - 300px);
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 150px;
}


.sideContainer {
    width: fit-content;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.sideContainer h3 {
    font-size: 28px;
    position: relative;
    width: fit-content;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #00FCB6;
    display: flex;
    align-items: center;
}

.sideContainer h3::after {
    content: '';
    position: absolute;
    left: 180px;
    width: 60px;
    height: 60px;
    background-size: contain;
}

.adgendaTitle::after {
    background: url('../../../assets/img/clock.svg') no-repeat;
}

.afterpartyTitle::after {
    background: url('../../../assets/img/beer.svg') no-repeat;
}

.venueTitle::after {
    background: url('../../../assets/img/images.svg') no-repeat;
}

.missionTitle::after {
    background: url('../../../assets/img/quote.svg') no-repeat;
}

.eventList li {
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
}

.eventList time {
    margin-right: 10px;
}

.infoBox {
    margin-bottom: 100px;
    width: 250px;
}

.venuePhotos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.venuePhotos div {
    flex-shrink: 0;
    overflow: hidden;
    transition: .3s;
}

.venuePhotos div:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.venuePhotos div:nth-child(2n) {
    z-index: 2;
    width: 120px;
    height: 120px;

}

.venuePhotos div:nth-child(2n-1) {
    width: 100px;
    height: 100px;
}

.venuePhotos div:nth-child(1) {
    left: 50px;
    position: relative;
}

.venuePhotos div:nth-child(3) {
    right: 50px;
    position: relative;
}

.locationBtn {
    border: 1px solid #00FCB6;
    color: #00FCB6;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    margin: 20px 0;
    height: 40px;
    width: 100%;
    font-family: 'AribauBold';
    padding: 0;
    cursor: pointer;
    outline: none;
    background: none;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -ms-flex-negative: 0;
        flex-shrink: 0;
}

.locationBtn:hover {
    background: rgba(0, 252, 181, 0.198);
}

.locationBtn {
    position: relative;
}

.locationBtn::after {
    content: '';
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
    background: url('../../../assets/img/location.svg') no-repeat;
    background-size: contain;
}

.foodBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foodBox img {
    margin-bottom: 10px;
    width: 30px;
}

.foodBox ul {
    list-style-type: circle;
}

.videoBox {
    height: 250px;
    width: 400px;
    border: 2px solid #00FCB6;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.116);
    margin: 20px 0px;
}
