.pastEvents {
    height: 100vh;
    background: rgb(0, 0, 0);
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    right: 0;
    top: 0;
    z-index: 10;
    padding-bottom: 50px;
  }

  .pastEvents h3 {
      padding-bottom: 10px;
      margin-bottom: 20px;
      color: #707070;
      font-size: 24px;
      border-bottom: 1px solid #707070;
  }

  .pastEvents h4 {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      font-size: 20px;
      margin-top: 20px;
  }

  .pastEvents h5 {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      font-size: 18px;
      margin-top: 20px;
  }

  .topics {
      color: #707070;
      text-align: center;
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0;
  }

  .topics li {
      position: relative;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      font-size: 16px;
  }

  .topics li::before {
      position: absolute;
      -ms-flex-negative: 0;
          flex-shrink: 0;
      content: '';
      left: -10px;
      top: 10px;
      width: 5px;
      height: 5px;
      background: #707070;
      border-radius: 50%;
  }

  .closedEvents {
    width: 80px;
  }

  .closedEvents .eventsBox {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    padding: 0px 0px 20px 0px;
  }

  .openedEvents {
    width: 330px;
  }

  .eventsBox {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    padding: 0px 30px 20px 0px;
    height: calc(100% - 100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow-y: scroll;
  }

  .eventsBox * {
      width: 230px;
  }

  .buttonBox {
    height: 100vh;
    z-index: 10;
    width: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pastEventsButton {
    background: 0;
    color: #707070;
    font-family: "AribauBold";
    font-size: 30px;
    outline: none;
    cursor: pointer;
    border: 0;
    white-space: nowrap;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }

  .pastEventsButton:hover {
    color: #adacac;
  }

  .members {
      width: 100%;
      height: 100px;
      background: url('../../../assets/img/past_table.svg') no-repeat;
      background-size: contain;
      background-position: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }

  .members span {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      line-height: 16px;
      font-size: 16px;
      padding: 0;
      margin: 0;
  }

  .eventBox {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
  }

  .eventBox time {
      position: relative;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      font-size: 18px;
      margin-bottom: 20px;
      color: #707070;
  }

  .eventBox time::before {
      position: absolute;
      content: '';
      left: -30px;
      top: 2px;
      background: url('../../../assets/img/calendar.svg') no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
  }

  .photoReport {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 20px;
  }

  .photoReport img {
      width: 100%;
      height: 100%;
  }

  .photoReport div{
      -ms-flex-negative: 0;
          flex-shrink: 0;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      overflow: hidden;
      cursor: pointer;
  }

  .photoReport div:hover {
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1);
  }

  .photoReport div:nth-child(2n) {
      z-index: 10;
      width: 120px;
      height: 120px;

  }

  .photoReport div:nth-child(2n-1) {
      width: 100px;
      height: 100px;
  }

  .photoReport div:nth-child(1) {
      left: 50px;
      position: relative;
  }

  .photoReport div:nth-child(3) {
      right: 50px;
      position: relative;
  }

  .openBtn {
      border: 1px solid #00FCB6;
      color: #00FCB6;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      font-size: 16px;
      margin: 20px 0;
      height: 40px;
      width: 100%;
      font-family: 'AribauBold';
      cursor: pointer;
      outline: none;
      background: none;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  }

  .openBtn:hover {
      background: rgba(0, 252, 181, 0.198);
  }
