body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'AribauBold', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6, p, ul, span {
  margin: 0;
  padding: 0;
  color: #fff;
}

ul {
  list-style: none;
}

@font-face{
  font-family: 'AribauExtraLight';
  src: url('./assets/fonts/AribauGroteskExtraLight.otf');
  font-style: normal;
  font-weight: 300;
}

@font-face{
  font-family: 'AribauBold';
  src: url('./assets/fonts/AribauGroteskBold.otf');
  font-style: normal;
  font-weight: 300;
}

.sideboard {
  width: 210px;
  padding: 50px 20px 0px 20px;
  position: fixed;
  height: 90vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0px;
  background: rgba(255, 255, 255, 0.15);
}

.grey {
  color: #707070;
}

.selected {
    border: 1px solid #00FCB6;
}

button {
  outline: none !important;
}

.grey {
  color: #fff;
  opacity: .5;
}
