.margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.adgendaTable {
    min-height: 150px;
    max-height: 200px;
    margin-top: 20px;
    border: 1px solid rgb(207, 207, 207);
    overflow-y: scroll;
}

.adgenda {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    padding: 10px;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center * {
    flex-grow: 1;
}

form input {
    color: #000;
}

.deletBtn {
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 0 5px;
}

.alert {
    position: absolute;
    z-index: 100;
    top: 70px;
}

.errorBorder {
    border-color: rgb(255, 96, 96);
}
