
.guestBoard {
    right: 80px;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.guestBoard h4 {
    font-size: 18px;
}

.guestList {
    width: 100%;
    max-height: fit-content;
    display: flex;
    flex-wrap: wrap;
    transition: .5s;
    justify-content: space-between;
}

.memerImg {
    margin-right: 5px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.memerImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.seeAllBtn {
    border: 1px solid #00FCB6;
    color: #00FCB6;
    font-size: 16px;
    margin: 20px 0;
    height: 40px;
    width: 100%;
    font-family: 'AribauBold';
    cursor: pointer;
    outline: none;
    background: none;
    transition: .3s;
    flex-shrink: 0;
}

.seeAllBtn:hover {
    background: rgba(0, 252, 181, 0.198);
}

.bigFont {
    font-size: 32px;
}

.smallFont {
    font-size: 14px;
}
