
.tableContainer {
    width: 60%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.spaceBetween {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.table {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: 2px solid #00FAB5;
    display: flex;
    flex-direction: column;
}

.speakerBox {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
}

.speakerImg {
    width: 90px;
    height: 90px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #00FAB5;
}

.speakerType {
    position: relative;
}

.speakerType::before {
    position: absolute;
    content: '';
    width: 23px;
    height: 23px;
    left: -28px;
    background: url('../../../assets/img/megaphone.svg');
    background-size: contain;
}

.speakerImg img {
    width: 100%;
}

.moreInfoBtn {
    position: fixed;
    background: 0;
    bottom: 0;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    border: 0;
    color: #fff;
    transition: .3s;
}

.moreInfoBtn:hover {
    color: white;
    transform: scale(1.1);
}

.moreInfoBtn::after {
    content: '';
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background: url('../../../assets/img/more_info.svg') no-repeat;
    background-size: contain;
}

h4 {
    font-size: 18px;
}
