
.monthSelector {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selectedMonth {
    display: flex;
    align-items: center;
}

.selectedMonth img {
    width: 25px;
    margin-right: 10px;
}

.monthSelector button {
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    background: url('../../../../assets/img/month_arrow.svg') no-repeat;
    background-size: contain;
    border: 0;
}

.monthSelector button:first-child {
    transform: rotate(180deg);
}
