
.chatContainer {
    border-top: 1px solid #707070;
    width: 100%;
    height: 10px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
    margin-top: 15px;
}

.scrollBox {
    overflow-y: scroll;
    width: 100%;
    flex-grow: 1;
    padding-bottom: 20px;
}

.messageInput {
    flex-grow: 1;
}

.scrollBox::-webkit-scrollbar { width: 0; }

.scrollBox { -ms-overflow-style: none; }

.scrollBox { overflow: -moz-scrollbars-none; }

.messageBox {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

.messageBox p {
    font-size: 14px;
    margin-top: 10px;
    white-space: pre-wrap;
    font-family: Arial, Helvetica, sans-serif;
}

.smallFont {
    font-size: 14px;
}

.userImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    flex-shrink: 0;
}

.userImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.messageInput {
    width: 100%;
    flex-shrink: 0;
    height: 40px;
    display: flex;
    transition: .3s;
    justify-content: center;
}

.messageInput input {
    flex-grow: 1;
    background: #4D5159;
    padding: 0 10px 0 10px;
    outline: none;
    height: 100%;
    color: #fff;
    font-size: 14px;
    font-family: 'Helvetica';
    border: 0;
}

.messageInput button {
    flex-grow: 2;
    width: 40px;
    border: 1px solid #00FCB6;
    flex-shrink: 0;
    background: #4D5159;
    outline: none;
    cursor: pointer;
}

.messageInput button:hover svg {
    transform: scale(1.2);
}

.messageInput button:hover {
    background: rgba(0, 252, 181, 0.198);
}

.messageInput svg {
    width: 50%;
}

