.menu {
  height: 100vh;
  background: rgba(0, 0, 0, 1);
  position: fixed;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
  left: 0;
  top: 0;
  z-index: 10;
  padding-bottom: 50px;
}

.menu h2 {
  font-size: 24px;
}

.closedMenu {
  width: 80px;
}

.closedMenu .filterBox {
  transition: 0.3s;
  padding: 0px 0px 20px 0px;
}

.openedMenu {
  width: 330px;
}

.openedMenu .filterBox {
  transition: 0.3s;
  padding: 0px 0px 20px 30px;
}

.buttonBox {
  height: 100vh;
  z-index: 10;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuButton {
  transform: rotate(90deg);
  background: 0;
  color: #707070;
  font-family: "AribauBold";
  font-size: 30px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  border: 0;
}

.menuButton:hover {
  color: #adacac;
}

.logo {
  position: absolute;
  left: 60px;
  top: 40px;
  width: 100px;
  height: 32px;
  transition: 0.3s;
}

.logo img {
  width: 100%;
}

.logoImg {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.logo::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 22px;
  top: 5px;
  left: -28px;
  background: url("../../../assets/img/logo_arrow.svg") no-repeat;
  background-size: contain;
  transform: rotate(180deg);
}

.logo::after {
  position: absolute;
  content: "";
  width: 20px;
  top: 5px;
  height: 22px;
  right: -28px;
  background: url("../../../assets/img/logo_arrow.svg") no-repeat;
  background-size: contain;
}

.closedLogo {
  width: 0px;
  left: 40px;
}

.filterBox {
  margin-top: 100px;
  margin-bottom: 50px;
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.eventSelector {
  margin-top: 20px;
  overflow-y: scroll;
  width: 100%;
  height: 10px;
  flex-grow: 3;
}

.eventSelector::-webkit-scrollbar {
  width: 0;
}

.eventSelector {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
}

.event {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
}

.event:hover h4{
  color: #00FAB5;
}

.event img {
  width: 45px;
}

.eventDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.eventDescription h4 {
  font-size: 16px;
  white-space: wrap;
  margin-bottom: 5px;
  transition: .3s;
}

.eventDescription time {
  position: relative;
  font-size: 16px;
  padding-left: 25px;
  white-space: break-spaces;
}

.eventDescription time::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  background: url("../../../assets/img/calendar.svg") no-repeat;
  background-size: contain;
}

.event span {
  color: #707070;
}
