.loginContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.3);
}

.active {
    background: #00FCB6 !important;
    color: black !important;
}

.login {
    width: 470px;
    background: rgba(0, 0, 0, 0.8);
    border: 2px solid #00FCB6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lines {
    position: relative;
}

.lines::before{
    content: '';
    width: 11vw;
    left: -190px;
    max-width: 150px;
    top: 12px;
    height: 1px;
    position: absolute;
    background: #00FCB6;
}

.lines::after{
    content: '';
    width: 11vw;
    right: -190px;
    max-width: 150px;
    top: 12px;
    height: 1px;
    position: absolute;
    background: #00FCB6;
}

.selector {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.selector button {
    flex-grow: 1;
    background: none;
    color: #fff;
    height: 40px;
    border-bottom: 2px solid #00FCB6;
    border-top: 0px;
}

.selector button:nth-child(1) {
    border-top-left-radius: 17px;
    border-right: 1px solid #00FCB6;
    border-left: 0px;
}

.selector button:nth-child(2) {
    border-top-right-radius: 17px;
    border-left: 1px solid #00FCB6;
    border-right: 0px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.socials img {
    margin: 0 10px;
    width: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 15px;
    padding-bottom: 15px;
}

form .inputBox{
    width: 100%;
    margin-bottom: 10px;
}

form .inputBox {
    position: relative;
}

form .inputBox::before {
    content: '';
    position: absolute;
    left: 10px;
    width: 18px;
    height: 18px;
    opacity: .4;
}

form .inputBox:nth-child(1)::before {
    top: 11px;
    background: url('../../../assets/img/username.svg') no-repeat;
    background-size: contain;
}

form .inputBox:nth-child(2)::before {
    top: 14px;
    background: url('../../../assets/img/mail.svg') no-repeat;
    background-size: contain;
    width: 18px;
    height: 18px;
}

form .inputBox:nth-child(3)::before {
    top: 10px;
    left: 12px;
    background: url('../../../assets/img/password.svg') no-repeat;
    background-size: contain;
    width: 17px;
    height: 17px;
}

form input {
    width: 80%;
    padding: 8px 10%;
    border: 0;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: inset 0 0 0 50px rgb(56, 54, 54);
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

.registerBtn {
    border: 1px solid #00FCB6;
    color: #00FCB6;
    font-size: 16px;
    margin: 0px 0px 10px;
    height: 40px;
    width: 100%;
    font-family: 'AribauBold';
    cursor: pointer;
    outline: none;
    background: none;
    transition: .3s;
    flex-shrink: 0;
    padding: 0;
}

.registerBtn:hover {
    background: rgba(0, 252, 181, 0.198);
}

.checkBox {
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #00FCB6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.checkBoxActive {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background: #00FCB6;
}

.agreementBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.agreementBox span {
    font-size: 12px;
    margin-left: 20px;
}

form p span {
    color: #00FCB6;
    cursor: pointer;
}
