
.seat {
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

svg {
    width: 100%;
    height: 100%;
}

.seat:hover {
    transform: scale(1.1);
}

.right {
    transform: rotate(180deg);
}

.photoBox {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    border: 2px solid #00FAB5;
    background: rgba(0, 0, 0, 0.664);
    z-index: 100;
}

.photoLeft {
    margin-left: 6px;
}

.photoRight {
    margin-right: 30px;
    right: 0;
}

.photoBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
