.loginContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background: rgba(255, 255, 255, 1);
}

.loginBox {
    background: white;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

.loginBox input {
    margin-bottom: 20px;
    background: rgb(216, 215, 215);
}
