
.leaderBoard {
    left: 80px;
    padding-top: 50px;
}

.leaderSelector {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.leaderImg {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.leaderImg img {
    width: 100%;
    flex-shrink: 0;
}

.infoBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.infoBox h3 {
    font-size: 24px;
}

.topic {
    font-family: Arial, Helvetica, sans-serif;
}

.underline {
    border-bottom: 1px solid #707070;
}

.infoBox>*:not(.ambassadorImgBox) {
    margin-bottom: 15px;
}

.ambassadorImgBox {
    width: 250px;
    height: fit-content;
    position: absolute;
    bottom: 0;
    left: 50px;
}

.ambassadorImg {
    width: 100%;
}

.selected {
    border: 2px solid #00FCB6;
}
